.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    /*
    padding-right: 15px;
    padding-left: 15px;
*/
    padding: .7em;

}

body {
    /*		background: #dedede;*/
    background: white;
    padding: 2em 7em;
    font-family: 'Space Grotesk', sans-serif;
}

.effect-oscar {
    margin: 0;
    padding: 0;
}

.grid-figure {
    margin: 0;
}

.container {
    padding: 0;
    width: 100%;
    margin: 0;
}

header {
    padding: 0 1em;
    margin: 0;
}

h1 {
    font-size: 6.5em;
    line-height: 1.2;
    font-weight: 100;
}

h3 {
    font-weight: 100;
}

.row {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

ul {
    margin: 0;
}

/*
section p {
	padding-right: 1em;
}*/

article header h2 {
    color: red;
}

h2 {
    color: #1D261F;
    font-weight: 100;
    line-height: 1.2;
    margin: 2em 0 2em -.5em;


}

.info {
    padding: 0 0 0 1em;
}


.info h2 {
    font-size: 4em;
    line-height: 1.4;
    padding: 0;
    margin: .5em 0;

}

.info h3 {
    padding: 1em 0;
    line-height: 1.3;
    font-size: 2em;
}

.info li {
    list-style: none;
    font-size: 1.25em;
    line-height: 2;
    padding-left: 0em;
}

.client-underlined {
    border-bottom: 1px #1D261F solid;
    padding: 1.50em 0 1.50em 0;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.05em;
    word-spacing: 1px;
    text-transform: uppercase;
    width: 33.33333%;
    display: block;
    box-sizing: inherit;
    float: left;
}

.sociallinks {
    font-size: 4em;
    line-height: 1.4;
    color: #1D261F;
    padding: 1em 0;

}

.sociallinks a {
    text-decoration-line: underline;
    color: #1D261F;
    font-weight: 400;
}


/********About hover images********/

.hoverimage {
    position: relative;
    display: inline;
}

.hoverimage a {
    color: #1D261F;
    text-decoration-line: underline;
    font-weight: 400;
}

.hoverimage1,
.hoverimage2,
.hovershape1,
.hovershape2,
.hovershape3 {
    display: none;
    visibility: hidden;
}


.hoverimage:hover .hoverimage1 {
    display: inline;
    visibility: visible;
    position: absolute;
    top: -120%;
    left: 5%;
    max-height: 200px;
    z-index: 9999;
    border-radius: 20px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.hoverimage:hover .hoverimage2 {
    display: inline;
    visibility: visible;
    position: absolute;
    top: -120%;
    left: 30%;
    max-height: 200px;
    z-index: 9999;
    border-radius: 20px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.hoverimage:hover .hovershape1 {
    display: inline;
    visibility: visible;
    position: absolute;
    top: -10%;
    left: 10%;
    max-height: 75px;
    z-index: -1;
}

.hoverimage:hover .hovershape2 {
    display: inline;
    visibility: visible;
    position: absolute;
    top: -10%;
    left: 25%;
    max-height: 75px;
    z-index: -1;
}

/********************* Nav arrows *******************/

.navy a {
    position: relative;

}

.arrow1 {
    position: relative;
    right: 1em;
    font-size: .8em;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 0.01, 0, 1.5);

    transition: transform 0.5s cubic-bezier(0, 0.01, 0, 1.5);
    transition-delay: 100ms;

    -webkit-transform: translate3d(0, 150%, 0) rotate(-90deg);

    transform: translate3d(0, 150%, 0) rotate(-90deg);
}

.arrow2 {
    position: relative;
    right: 1em;
    font-size: .8em;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 0.01, 0, 1.5);

    transition: transform 0.5s cubic-bezier(0, 0.01, 0, 1.5);
    transition-delay: 100ms;

    -webkit-transform: translate3d(-50%, 0, 0);

    transform: translate3d(-50%, 0, 0);
}

.arrow3 {
    position: relative;
    right: 1em;
    font-size: .8em;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 0.01, 0, 1.5);

    transition: transform 0.5s cubic-bezier(0, 0.01, 0, 1.5);
    transition-delay: 100ms;

    -webkit-transform: translate3d(0, -150%, 0) rotate(90deg);

    transform: translate3d(0, -150%, 0) rotate(90deg);
}

.navy a:hover .arrow1 {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);

    transform: translate3d(0, 0, 0);
}

.navy a:hover .arrow2 {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);

    transform: translate3d(0, 0, 0);
}

.navy a:hover .arrow3 {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);

    transform: translate3d(0, 0, 0);
}

/*About video*/
.aboutvideo {
    z-index: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3.0vw;
    color: white;
    border: solid white 1px;
    border-radius: 250px;
    padding: 2% 5%;
    width: 75%
}


/* bottom padding */

.pad {
    padding: 1.5em;
}

/* PreviousNext */

.prevnext {
    display: flex;
    justify-content: space-between;
    margin: 2em 0 0 0;
    font-size: 1.5em;
    color: #1D261F;
    line-height: 1.1;

}

.prevnext a {
    color: #a0a0a0;
    text-decoration: none;
    font-weight: 100;
}

.prevnext a:hover {
    color: #1D261F;
    text-decoration: none;
    /*	border-bottom: solid 3px;*/
}

.prevnext li:nth-child(2) {
    text-align: right;
}

h1 {
    color: #1D261F;
}

.profilepic {
    padding: 0;
    margin-left: -1em;
}

.isaac {
    max-width: 60%;
    padding: 0;
    margin: 0;
}

.LP {
    margin: 6em 6em;
    padding: 0;

}

.landingpage {
    padding: 0;
    margin: 0 auto;
    border-radius: 8px;

    box-shadow: 0px 5px 20px 2px #999;
}

#colorbox {
    display: flex;
    align-items: center;
    justify-content: left;
    background: #f84c4a;
    margin: 0 1em -1.1em 1em;

}

::selection {
    background: #0033ff;
}

::-moz-selection {
    background: #0033ff;
}

#motionreel {
    margin: 0 -2em 0 -2em;
    padding: 2em 1.75em 0 1.75em;
    background-color: #f8f8f8;
}

section a img,
h1 img {
    height: 40px
}

/*
.nav-active:hover {
	border-left: solid 5px black;
}
*/
/****** MEDIA QUERIES *********/
/* med*/
@media (max-width: 1199px) {
    iframe {
        height: 500px;
    }
}

/* xs */

@media (max-width: 767px) {
    iframe {
        height: 250px;
    }

    section ul li,
    section ul li figure.effect-oscar {
        padding: 0;
        margin: 0 0 -3px 0;
    }

    h1 {
        font-size: 4em;
    }

    #foot {
        margin: 0 2em;
    }

    div.info,
    div.container {
        padding: 0 2em;
    }

    .work-details {
        padding: 0 1em;
    }

    .prevnext {
        padding: 0 1.25em;
    }

    body {
        padding: 0;
    }

    .profilepic {
        padding: 4em 1em 0 1em;
        margin: 0;
    }

    .nopad {
        margin: 0;
    }

    .profilepic {
        padding: 0 3em;
    }

    .LP {
        margin: 0 2em;
        padding: 0;
    }

    .landingpage {
        border-radius: 3px;
    }
}

video {
    width: 100%;
    height: auto;
    padding: 0;
    margin-bottom: -4px;
}

h3 li {
    list-style: none;
}

.illustrationpad {
    padding: 0 1em;
}

.illustrationpadtop {
    padding-top: 2em;
}

/******* for Scope tags *******/
.scopetag {
    background-color: white;
    border: 1px #1D261F solid;
    color: #1D261F;
    padding: 4px 12px 4px 12px;
    text-align: center;
    line-height: 1.2;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 4px 2px;
    cursor: auto;
    border-radius: 25px;
    font-size: 1.8em;
}

/******** for Material Icons *********/
.material-icons footicon {
    margin: 20px 0px 20px -4px;
    padding: 1em 0em;
    color: #1D261F;
    font-size: 3em;
}

.inline-icon {
    margin: 0px 0px -20px 0px;


}

/******* for YouTube embedding *******/

.embeded-video {
    position: relative
}

.embeded-video .ratio-img {
    display: block;
    width: 100% !important;
    height: auto !important;
}

.embeded-video IFRAME {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
}